<div class="country">
    <div class="country__description">
        <h2 class="country__name">{{name}}</h2>
        <h3 class="country__native-name">{{nativeName}}</h3>
        <h4 class="country__capital">Capital: {{capital}}</h4>
        <p class="country__population">Population: {{population}}</p>
        <p class="country__languages">Languages:</p>
        <ul class="country__languages-list">{{#each languages}}
            <li>{{this.name}} - <span class="country__native-name">{{this.nativeName}}</span> </li>
            {{/each}}
        </ul>
    </div>
    <div class="country__flag">
        <img class="country__flag-image" src="{{flag}}" alt="{{name}} flag">
    </div>
</div>